* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* HEADER */

header {
  width: 100%;
  background-color: #eeeeee;
  padding: 20px 120px;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #fb565a;
}

.basket {
  display: flex;
  align-items: center;
  gap: 8px;
}

.basket a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.basket i {
  color: #a6a6a6;
}

/* HERO */

.hero {
  background-color: #eeeeee;
  padding: 0px 120px;
  height: 400x;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 538px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-image img {
  width: 800px;
  height: 465px;
}

.btn {
  padding: 15px 30px;
  background-color: #fb565a;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

/* SERVICES */

.services {
  padding: 90px 120px;
}

.services-container {
  display: flex;
  gap: 10px;
}

.service-card {
  width: 40%;
}

.service-img {
  height: 150px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.service-card p {
  margin-bottom: 20px;
  color: #555;
}

/* Кнопки */

.red-btn {
  background-color: #fb565a;
}

.green-btn {
  background-color: #00ca74;
}

.yellow-btn {
  background-color: #efc84a;
}

.btn {
  padding: 12px 25px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

/* ABOUT SECTION */

.about {
  padding: 80px 120px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.about-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.about-left {
  width: 55%;
}

.about-left h2 {
  font-size: 45px;
  margin-bottom: 25px;
}

.about-text {
  margin-bottom: 50px;
  font-size: 16px;
  color: #555;
}

.about-left h4 {
  margin-bottom: 20px;
  font-weight: bold;
}

.about-list {
  list-style: none;
}

.about-list li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 25px;
  color: #333;
}

/* Красные линии перед пунктами */
.about-list li::before {
  content: "";
  width: 15px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  left: 0;
  top: 10px;
}

.about-right {
  width: 40%;
  text-align: center;
}

.about-logo img {
  width: 280px;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.stat h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.stat span {
  font-size: 24px;
}

.stat p {
  font-size: 14px;
  color: #555;
}

/* CLIENTS */

.clients {
  padding: 50px 120px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.clients-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients-container img {
  max-height: 60px;
  opacity: 0.4;
  transition: 0.3s;
}

.clients-container img:hover {
  opacity: 1;
}

/* CONTACTS */

.contacts {
  margin-top: 100px;
  position: relative;
  height: 500px;
  background: url("./img/map.jpg") center/cover no-repeat;
}

.contacts-card {
  position: absolute;
  top: 100px;
  left: 140px;

  background: #ffffff;
  padding: 40px;
  width: 319px;
  height: 280px;
}

.contacts-card h3 {
  margin-bottom: 20px;
  font-size: 16px;
}

.contacts-card p {
  margin-bottom: 15px;
  color: #555;
}

.contacts-card .btn {
  margin-top: 20px;
  width: 219px;
  height: 50px;
}

.map-marker {
  position: absolute;
  left: 822px;
  top: 120px;
  width: 231px;
}

/* FOOTER */

.footer {
  padding: 60px 120px;
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.social a {
  width: 70px;
  height: 70px;
  background-color: #e1e1e1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

.social a i {
  font-size: 24px;
  color: #888;
}

.social a:hover {
  background-color: #fb565a;
}

.social a:hover i {
  color: white;
}

.footer-text h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.footer-text p {
  color: #666;
}

/* Shop */

.shop-hero {
  background-color: #eeeeee;
  padding: 100px 0;
  text-align: center;
}

.shop-hero h1 {
  font-size: 48px;
}

/* SHOP */

.shop {
  padding: 60px 120px;
}

.shop-container {
  display: flex;
  gap: 60px;
}

.filter {
  width: 260px;
}

.filter h4 {
  margin: 30px 0 15px;
}

.filter label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

.price-inputs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 15px 0;
}

.price-inputs input {
  width: 70px;
  padding: 5px;
}

.show-btn {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  border: none;
  background: #ddd;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.product-card {
  background: white;
  position: relative;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  display: block;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  background: rgba(255, 255, 255, 0.95);
  padding: 50px;
  text-align: border-box;
}

.card-content h3 {
  margin-bottom: 20px;
}

.card-content p {
  margin-bottom: 40px;
}
